html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.cards {
  border-radius: 4px;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card-img-top {
  width: 100%;
  height: 45vh;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .card-img-top {
    width: 100%;
    height: 35vh;
  }

  .vt {
    display: inherit;
  }
}

.news-card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: contain;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.blink_me {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.active {
  color: #fcfcfc;
}

.navigation {
  margin: 0px 12px;
}

.heading {
  font-weight: 1000;
  color: #000;
}

.shop {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* url("./images//shop.jpg"); */
  /* filter blur(0px); */
  display: block;
  /* background-image: blur(4px); */
  height: 100vh;
  z-index: 1;
  background-position: 700px 0px;
  background-size: cover;
}

.content {
  margin: 100px 0px;
}
@media screen and (max-device-width: 375px) {
  .navigation {
    margin: 0px 7px;
  }
  .shop {
    background-position: 600px 0px;
  }
}
@media screen and (max-device-width: 320px) {
  .navigation {
    margin: 0px 5px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.news {
  color: #ffffff;
  overflow: hidden;
  width: 100%;
}

.news * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.news img {
  max-width: 100%;
  height: 29vh;
  vertical-align: top;
  position: relative;
}

.news .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.news a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.news:hover .hover,
.news.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.card1 {
  border: none;
  height: 250px;
  cursor: pointer;
  transition: 0.2s;
}

.card1 .card_image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card1 .card_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card1 .card_title {
  backdrop-filter: blur(50px);
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -40px;
  height: 40px;
  border: none;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .card1 {
    height: 600px;
  }

  .card1 .card_image {
    height: 600px;
    object-fit: contain;
  }
  .card1 .card_title {
    font-size: 50px;
    margin-top: -70px;
    height: 70px;
  }
}

/* .card1:hover {
  transform: scale(0.9, 0.9) !important;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  transition: ease-in-out 0.2s !important;
} */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
@media screen and (max-device-width: 375px) {
  .footer {
    position: relative;
  }
}
